Repository OlenaKazymyrova/online-game-store, pull requests merged in 2025-06, with the labels that each got.

#19 Initial setup of Swagger infrastructure. Addition of XML comments for existing endpoints
  OnlineGameStore.DAL/OnlineGameStore.DAL.csproj
  OnlineGameStore.DAL/ServiceCollectionExtensions.cs
  OnlineGameStore.UI/Controllers/GamesController.cs
  OnlineGameStore.UI/OnlineGameStore.UI.csproj
  OnlineGameStore.UI/Program.cs
Labels: documentation, UI

#18 Genre UI: GET and POST controllers
  OnlineGameStore.BLL.Tests/Tests/GenreServiceTests.cs
  OnlineGameStore.BLL/DTOs/GenreDto.cs
  OnlineGameStore.BLL/Mapping/MappingProfile.cs
  OnlineGameStore.DAL.Tests/Tests/GenreRepositoryTests.cs
  OnlineGameStore.DAL/Repositories/GenreRepository.cs
  OnlineGameStore.UI.Tests/ControllerTestsHelper.cs
  OnlineGameStore.UI.Tests/DataGenerators/GenreDtoDataGenerator.cs
  OnlineGameStore.UI.Tests/ServiceMockCreators/GameServiceMockCreator.cs
  OnlineGameStore.UI.Tests/ServiceMockCreators/GenreServiceMockCreator.cs
  OnlineGameStore.UI.Tests/Tests/GenresControllerTests.cs
  OnlineGameStore.UI/Controllers/GenresController.cs
Labels: DAL, UI

#25 Add swagger xml comments for POST and GET methods
  OnlineGameStore.UI/Controllers/GenresController.cs
Labels: UI

#30 Added PATCH and PUT updating methods for Game
  OnlineGameStore.BLL.Tests/Tests/GameServiceTests.cs
  OnlineGameStore.BLL/Interfaces/IService.cs
  OnlineGameStore.BLL/OnlineGameStore.BLL.csproj
  OnlineGameStore.BLL/Services/Service.cs
  OnlineGameStore.UI.Tests/ServiceMockCreators/ServiceMockCreator.cs
  OnlineGameStore.UI.Tests/Tests/GamesControllerTests.cs
  OnlineGameStore.UI/Controllers/GamesController.cs
  OnlineGameStore.UI/OnlineGameStore.UI.csproj
  OnlineGameStore.UI/Program.cs
Labels: E1: Game Management, BLL, UI

#32 Add pagination on Get endpoint
  OnlineGameStore.BLL.Tests/RepositoryMockCreator/RepositoryMockCreator.cs
  OnlineGameStore.BLL.Tests/Tests/GameServiceTests.cs
  OnlineGameStore.BLL.Tests/Tests/GenreServiceTests.cs
  OnlineGameStore.BLL/Interfaces/IService.cs
  OnlineGameStore.BLL/Services/Service.cs
  OnlineGameStore.DAL.Tests/Tests/GameRepositoryTests.cs
  OnlineGameStore.DAL.Tests/Tests/GenreRepositoryTests.cs
  OnlineGameStore.DAL/Interfaces/IRepository.cs
  OnlineGameStore.DAL/Repositories/Repository.cs
  OnlineGameStore.SharedLogic/Pagination/PaginatedResponse.cs
  OnlineGameStore.SharedLogic/Pagination/PaginationMetadata.cs
  OnlineGameStore.SharedLogic/Pagination/PagingParams.cs
  OnlineGameStore.UI.Tests/ServiceMockCreators/ServiceMockCreator.cs
  OnlineGameStore.UI.Tests/Tests/GamesControllerTests.cs
  OnlineGameStore.UI.Tests/Tests/GenresControllerTests.cs
  OnlineGameStore.UI/Controllers/GamesController.cs
  OnlineGameStore.UI/Controllers/GenresController.cs
Labels: DAL, BLL, UI

#35 Dockerized SQL Server for Local Development
  OnlineGameStore.DAL.Tests/Tests/GenreRepositoryTests.cs
  OnlineGameStore.DAL/Migrations/20250521124512_GameEntityIdTypeIntToGuid.cs
  OnlineGameStore.DAL/Migrations/20250524115741_AddGenreEntityWithParentChildRelation.cs
  OnlineGameStore.DAL/Repositories/GenreRepository.cs
  OnlineGameStore.DAL/ServiceCollectionExtensions.cs
  OnlineGameStore.UI/appsettings.Development.json
  docker-compose.yml
Labels: DAL, Infrastructure

#44 Added background service for Roles seeding
  OnlineGameStore.UI/Program.cs
  OnlineGameStore.UI/Services/RoleSeederService.cs
Labels: UI

#46 Added background service for Admin user seeding
  OnlineGameStore.UI/OnlineGameStore.UI.csproj
  OnlineGameStore.UI/Program.cs
  OnlineGameStore.UI/Services/AdminSeederService.cs
Labels: UI

#60 Include parameter for platform
  OnlineGameStore.BLL/DTOs/Games/GameBasicDto.cs
  OnlineGameStore.BLL/DTOs/Platforms/PlatformDetailedDto.cs
  OnlineGameStore.BLL/Interfaces/IPlatformService.cs
  OnlineGameStore.BLL/Mapping/Profiles/BllGameMappingProfile.cs
  OnlineGameStore.BLL/Mapping/Profiles/BllPlatformMappingProfile.cs
  OnlineGameStore.BLL/Services/GameService.cs
  OnlineGameStore.BLL/Services/PlatformService.cs
  OnlineGameStore.DAL.Tests/Tests/PlatformRepositoryTests.cs
  OnlineGameStore.DAL/Repositories/PlatformRepository.cs
  OnlineGameStore.UI.Tests/ServiceMockCreators/PlatformServiceMockCreator.cs
  OnlineGameStore.UI/Aggregation/GameAggregationParams.cs
  OnlineGameStore.UI/Aggregation/PlatformAggregationParams.cs
  OnlineGameStore.UI/Controllers/PlatformController.cs
  OnlineGameStore.UI/QueryBuilders/PlatformQueryBuilder.cs
Labels: UI

#66 Feature: add PUT to update Games nav property in Genre
  OnlineGameStore.BLL/DTOs/Genres/GenreCreateDto.cs
  OnlineGameStore.BLL/Interfaces/IGenreService.cs
  OnlineGameStore.BLL/Mapping/Converters/GuidToGameConverter.cs
  OnlineGameStore.BLL/Mapping/Profiles/BllGameMappingProfile.cs
  OnlineGameStore.BLL/Mapping/Profiles/BllGenreMappingProfile.cs
  OnlineGameStore.BLL/Mapping/Resolvers/GenreResolver.cs
  OnlineGameStore.BLL/ServiceCollectionExtensions.cs
  OnlineGameStore.BLL/Services/GameService.cs
  OnlineGameStore.BLL/Services/GenreService.cs
  OnlineGameStore.DAL.Tests/Tests/GameRepositoryTests.cs
  OnlineGameStore.DAL.Tests/Tests/GenreRepositoryTests.cs
  OnlineGameStore.DAL/Interfaces/IGenreRepository.cs
  OnlineGameStore.DAL/Repositories/GameRepository.cs
  OnlineGameStore.DAL/Repositories/GenreRepository.cs
  OnlineGameStore.DAL/Repositories/Repository.cs
  OnlineGameStore.DAL/Repositories/UserRoleRepository.cs
  OnlineGameStore.UI/Controllers/GenresController.cs
Labels: DAL, BLL, UI

#68 Feature: Platform PUT add Game nav properties
  OnlineGameStore.BLL/DTOs/Platforms/PlatformCreateDto.cs
  OnlineGameStore.BLL/Interfaces/IPlatformService.cs
  OnlineGameStore.BLL/Mapping/Profiles/BllPlatformMappingProfile.cs
  OnlineGameStore.BLL/Mapping/Resolvers/PlatformResolver.cs
  OnlineGameStore.BLL/ServiceCollectionExtensions.cs
  OnlineGameStore.BLL/Services/PlatformService.cs
  OnlineGameStore.DAL.Tests/Tests/PlatformRepositoryTests.cs
  OnlineGameStore.DAL/Interfaces/IPlatformRepository.cs
  OnlineGameStore.DAL/Repositories/PlatformRepository.cs
  OnlineGameStore.UI.Tests/Tests/PlatformControllerTests.cs
  OnlineGameStore.UI/Controllers/PlatformController.cs
Labels: DAL, BLL, UI
